body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:13.34px;
}
h1, h2, h3, h4, h5, h6 {
  border:0;
}
h1 {
  font-size:170%;
  border-bottom:4px solid #aaa;
  padding-top:.5em;
  margin-top:1.5em;
}
h1:first-child {
  margin-top:0;
  padding-top:.25em;
  border-top:none;
}
h2 {
  font-size:150%;
  margin-top:1.5em;
  border-bottom:4px solid #e0e0e0;
  padding-top:.5em;
}
h3 {
  font-weight:bold;
  margin-top:1em;
}
hr {
  border:none;
  border-bottom:4px solid #e0e0e0;
}
p {
  margin:1em 0;
  line-height:1.5em;
  text-align:justify;
}
p.footnote {
  font-size:.8em;
}
sup {
  font-size:.8em;
  vertical-align:super;
}
dl, ul {
  margin:1em 0 1em 1.3em;
  line-height:1.5em;
}
ul {
  list-style:disc;
}
ol {
  margin:1em 0 1em 1.5em;
}
ol ol {
  margin-top:0;
  margin-bottom:0;
}
blockquote {
  margin:1em 0;
  border-left:5px solid #ddd;
  padding-left:.6em;
  color:#555;
}
dt {
  font-weight:bold;
  margin-left:1em;
}
dd {
  margin-left:2em;
  margin-bottom:1em;
}
table {
  margin:1em 0;
}
table th {
  border-bottom:1px solid #bbb;
  padding:.2em 1em;
}
table td {
  border-bottom:1px solid #ddd;
  padding:.2em 1em;
}
pre {
  margin:1em 0;
  font-size:.75em;
  background-color:#f8f8ff;
  border:1px solid #dedede;
  padding:.5em;
  line-height:1.5em;
  color:#444;
  overflow:auto;
  font-family:"Monaco", monospace;
}
pre code {
  padding:0;
  font-size:100%;
  background-color:#f8f8ff;
  border:none;
}
code {
  font-size:90%;
  background-color:#f8f8ff;
  color:#444;
  padding:0 .2em;
  border:1px solid #dedede;
}
pre.console {
  margin:1em 0;
  font-size:90%;
  background-color:black;
  padding:.5em;
  line-height:1.5em;
  color:white;
}
pre.console code {
  padding:0;
  font-size:100%;
  background-color:black;
  border:none;
  color:white;
}
pre.console span {
  color:#888;
}
pre.console span.command {
  color:yellow;
}
blockquote {
  margin:1em 0;
  border-left:5px solid #ddd;
  padding-left:.6em;
  color:#555;
}
img {
  margin:.5em;
}
a, a:visited, a:active, a:focus {
  color:darkblue;
  
}
a:hover {
  color:#000;
}

#body {
  background:url(../images/pattern.png);
}

.centered {
}
.inner-shadow {
  position:absolute;
  bottom:0;
  width:100%; height:10px;
  background:transparent repeat-x url(../images/inner-shadow.png);
}
#header .centered {
	margin:0 auto;
	width:1020px; height:280px;
	background:#608ab2 no-repeat top center url(../images/header-bg.png);
	position:relative;
}
#header {
  position:relative;
  height:280px;
	background:#608ab2 repeat-x url(../images/header-bg2.png);
}
#myhead {
	position:absolute;
	top:63px; left:129px;
	width:268px; height:221px;
	background:transparent no-repeat url(../images/myhead.png);
}
#birdy {
  position:absolute;
  right:50px; top:101px;
  width:300px; height:180px;
  background:transparent no-repeat url(../images/birdy.png);
}
a#followme {
  display:block;
  position:absolute;
  right:-12px; top:-4px;
  width:142px; height:44px;
  overflow:hidden;
  text-indent:-1000px;
  background:transparent no-repeat url(../images/followme.png);
}
a#forkme {
  display:block;
  position:absolute;
  left:325px; top:20px;
  width:130px; height:90px;
  overflow:hidden;
  text-indent:-1000px;
  background:transparent no-repeat url(../images/forkme.png);  
}
a#forkme:hover {
  background-position:0 -90px;
}
a#feedme {
  float:right;
  display:block;
  width:14px; height:14px;
  overflow:hidden;
  text-indent:-1000px;
  background:no-repeat url(../images/feedme.png);
}
#sidebar {
  position:relative;
  top:-26px;
  background:transparent url(../images/sidebar-bg.png);
}
#sidebar .inner {
  padding:5px;
}
#aboutme {
  padding:5px;
  background:#e2e2e2;
  position:relative;
}
#aboutme p {
  font-size:.8em;
  color:#333;
  text-align:left;
  margin-top:20px;
}
img#gravatar {
  float:left;
  margin-top:.4em;
}
#coffeemug {
  position:absolute;
  top:-54px;
  width:57px; height:84px;
  background:transparent no-repeat url(../images/coffeemug.png);
}
ul.vertical.navigation {
  list-style:none;
  padding:0;
  margin:2em 0;
}
ul.vertical.navigation {
  padding:0; margin:0;
}
ul.vertical.navigation li a {
  display:block;
  font-size:1.5em;
  line-height:1.5em;
  padding:3px 0 3px 8px;
}
ul.vertical.navigation li a:hover {
  background:#ccc;
}
#manifesto {
  margin-top:20px;
  color:#fff;
}
#manifesto p,
#manifesto h3 {
  font-size:.75em;
  opacity:0.75;
}
#manifesto h3 {
  text-align:right;
  font-weight:normal;
}
#content {
  position:relative;
  top:-26px;
  padding:31px 0;
}
#content .middle .inner {
  padding-right:2px;
}
#content .post {
  clear:right;
  float:right;
  position:relative;
  width:580px;
  margin:0 20px 20px 0;
}
ul.post_list {
  list-style:square;
  color:#c0c0c0;
}
.post_list li {
  padding:0; margin:0;
}
.post_list .date {
  display:inline-block;
  margin:0 .5em 0 0;
  color:#333;
  font-family:Inconsolata, monospace;
}
#content .col2 {
  float:right;
  position:relative;
  width:270px;
  margin:0 20px 20px 20px;
}
.sidebox {
  clear:left;
  float:left;
  position:relative;
  width:72px; height:59px;
  margin-top:20px;
  background:transparent no-repeat url(../images/sidebox-bg.png);
  color:#fff;
  text-align:center;
}
.sidebox .title {
  font-size:9px;
  line-height:23px;
}
.sidebox span {
  margin-right:12px;
}
.date .day {
  display:block;
  line-height:36px;
  font-size:22px;
}
.addthis_button {
  display:block;
  width:20px; height:20px;
  margin:5px 18px;
  text-align:center;
  text-decoration:none;
}
.addthis_button img {
  margin:0;
  border:2px solid white;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}
.opinions.sidebox {
  height:79px;
  background:transparent no-repeat url(../images/opinions-bg.png);
}
.opinions .count {
  display:block;
  line-height:34px;
  font-size:22px;
}
.opinions a {
  margin-right:12px;
  font-size:9px;
  line-height:20px;
  color:#fff;
}
.top.bg {
  position:absolute;
  top:0;
  width:100%; height:31px;
  background:transparent no-repeat top right url(../images/content-g8-top-bg.png);
}
.middle.bg {
  position:relative;
  width:100%;
  background:transparent repeat-y top right url(../images/content-g8-middle-bg.png);
}
.bottom.bg {
  position:absolute;
  bottom:0;
  width:100%; height:31px;
  background:transparent no-repeat top right url(../images/content-g8-bottom-bg.png);
}