<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/blog/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/blog/stylesheets/960gs.css" />
    <link rel="stylesheet" type="text/css" href="/blog/stylesheets/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/blog/stylesheets/default.css" />
    {{ if page.robots }}<meta name="robots" content="{{ page.robots }}" />{{ endif }}
  </head>
  <body id="body">
    <div id="header">
      <div class="centered">
        <div id="myhead"></div>
        <a href="http://github.com/larrycai" target="_blank" id="forkme">Fork me on Github</a>
        <div id="birdy">
          <a href="http://weibo.com/larrycaiyu" id="followme">Follow me on Twitter</a>
        </div>
      </div>
      <div class="inner-shadow"></div>
    </div>
    <div id="background" class="centered clearfix">
      
      <div class="container_12 centered clearfix">
        <div id="content" class="grid_9 clearfix">
          <div class="top bg"></div>
          <div class="middle bg clearfix">
            <div class="inner">{{ content }}</div>
          </div>
          <div class="bottom bg"></div>
        </div>
      
        <div id="sidebar" class="grid_3">
          <div class="inner">
            <div id="aboutme" class="clearfix">
              <div id="coffeemug"></div>
              <a href="http://codeslife.com/?" id="feedme">Feed me</a>
              <p class="small">
                <img id="gravatar" src="http://gravatar.com/avatar/2515856e4452ac935394c3b5556ef323?s=128&d=identicon&r=PG" width="40px" height="40px" alt="My Gravatar" align="middle"/>
                Hy, my name is Larry Cai.
                You can <a href="/blog/contact.html">contact me here</a>.
                Comments are welcome.
              </p>
              <ul class="vertical navigation">
                <li><a href="/blog">Home</a></li>
                <li><a href="/blog/archives.html">Archive</a></li>
                <li><a href="/blog/imprint.html">Imprint / Credits</a></li>
              </ul>
            </div>
            <div id="manifesto">
              <h3>About this site</h3>
			  <p>This is forked from <a href="http://lukasrieder.com/">http://lukasrieder.com/</a>, please check credits
              <p>I am a fans of new technical stuff and focus on agile software development.
              </p>
            </div>
          </div>
        </div>
      </div>
          
    </div>
    <script type="text/javascript" src="/blog/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/blog/javascripts/application.js"></script>
    <script type="text/javascript">
      var addthis_config = {
        username: 'Overbryd',
        services_compact: 'email, facebook, twitter, more',
        services_exclude: 'print'
      }
      $(function() {
        // DriveBy Animation of the twitter follow button and the github profile button
        $('#followme').driveBy({
          mouseenter: {
            'opacity': 100
          },
          radius: 250
        }).css('opacity', 0);
        $('#forkme').driveBy({
          mouseenter: {
            'opacity': 100
          }
        }).css('opacity', 0);
        
        // Manifesto Animation
        $('#manifesto :children').hover(
          function(){
            $(this).stop();
            $(this).animate({fontSize:'1em', opacity:1}, 'normal');
          },
          function(){
            $(this).stop();
            $(this).animate({fontSize:'0.75em', opacity:0.75}, 'normal');
          }
        );
        
        // Count the disqus conversations for each post
        update_comments_count = function(){
          counter = $('#dsq-num-posts');
          if(counter && parseInt(counter.text()) > 0){
            $('#opinions_sidebox .count').text(counter.text());
          }else{
            $('#opinions_sidebox .count').text('0');
          }
        }
        setInterval('update_comments_count()', 5000);
        
      });
      
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("xxxxxx");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
  </body>
</html>